* {
  box-sizing: border-box;
}

html {
  background: #f2f1f4;
  color: #19171c;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: blue;
}

header {
  padding: 30px;
  padding-bottom: 0px;
}

.logo {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.tagline {
  width: 80%;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 20px;
}

.logo img {
  width: 80px;
  display: block;
}

.articles {
  width: 100%;
  height: 200px;
  padding: 15px;
}

.article1 {
  /*background-color: black;*/
  padding: 15px;
  margin: 0;
  width: 100%;
  float:left;
}

.article2 {
  /*background-color: yellow;*/
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  border: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

h1 {
  background: white;
  display: inline;
  padding: 8px;
  margin: 0 20px 70px 20px;
  position: absolute;
  bottom:0;
  font-family: Helvetica;
  font-size: 20px;
  color: black;
}

.article2 p{
  background: white;
  display: inline;
  padding: 8px;
  margin: 0 0 25px 20px;
  position: absolute;
  bottom:0;
  font-family: Helvetica;
  color: black;
  font-weight: bold;
  font-size: 12px;

}

a:hover{
}

@media (min-width: 480px) and (max-width: 767px) {

h1 {
  font-size: 35px;
  }

.article2 p{
  font-size: 20px;
  }

  .tagline {
    font-size: 30px;
  }
}



@media (min-width: 768px){
  .article1 {
    /*background-color: red;*/
    width: 33%;
  }

  h1 {
    font-size: 18px;
    }

  .article2 p{
    font-size: 10px;
    }

    .tagline {
      font-size: 40px;
    }

}
